@import '@/styles/reset.css';
@import '@/styles/fonts.css';

body{
    font-family: "Wix Madefor Display";
}

h1{
    font-size: 144px;
    font-weight: 800;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 32px;
}

section{
    padding: 7.5vh 15vw;
}

